.github-btn {
  float: right;
  color: black;
}

.gitHubText {
  font-size: 15px;
}

.gitHub .gitHubText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.gitHub:hover .gitHubText {
  visibility: visible;
}
