h2 {
  text-decoration: underline;
  text-align: center;
  font-size: 42px;
  padding-bottom: 5px;
}

#infoBox {
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.75);
}

#listBox {
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.75);
}

#carousel {
  border-radius: 25px;
  overflow: hidden;
  margin: auto;
  height: 350px;
  max-width: 1000px;
}

@media only screen and (max-width: 460px) {
  #carousel {
    height: 200px;
  }
}
