* {
  z-index: 0;
}

.calendarTop {
  margin-top: 50px;
}

.features {
  /*border: 2px solid red;*/
  border-radius: 25px;
  display: flex;
  width: auto;
  align-items: center;
}


.eventText {
    font-size: 15px;
  }
  
  .iconEvents .eventText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
  
    position: absolute;
    z-index: 1;
  }
  
  .iconEvents:hover .eventText {
    visibility: visible;
  }

  #options {
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    max-width: 475px;
    margin: auto;
  }
  .container3 {
    padding-top: 10px;
    padding-bottom: 25px;
    margin: auto;
  }