/* We need to make this button look like a normal Google Logout button */


.button {
   display: inline-block;
   text-decoration: none;
   color: rgba(3, 169, 244, 0.54);
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: double 4px #668ad8;
   text-align: center;
   vertical-align: middle;
   overflow: hidden;
   transition: .6s;
}

.button:hover {
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
}