.teamContainer {
	margin-top: 60px;
	width: 100%;
	padding-left: 60px;
	padding-bottom: 0.5%;
}

.meet {
	text-align: center;
	color: white;
	/* width: 100%;
	background: rgba(174, 60, 18, 0.6); */
}

.cardMargin {
	margin-right: 10px;
	margin-left: 20px;
}

/* .noBackground {
	background-color: transparent important!;
} */
